src/composer.lock
src/vendor

*.orig

# Created by git when using merge tools for conflicts
*.BACKUP.*
*.BASE.*
*.LOCAL.*
*.REMOTE.*
*_BACKUP_*.txt
*_BASE_*.txt
*_LOCAL_*.txt
*_REMOTE_*.txt

.idea

# Environment
.env

# CS Fixer
.php-cs-fixer.cache

src/.env
src/.env.local

docker/storage
storage
